include README.md
include LICENSE.LGPL-3.0
include pip_requirements.txt
include pip_extras.txt
include qti_package_maker/data/*
include qti_package_maker/data/fonts/*
recursive-include qti_package_maker *.py
